<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PW Aurora - Melodia Abissal</title>
  <link rel="stylesheet" href="/css/informacoes.css">
</head>
<body>
    <%- include('partials/header') %>
    <section class="section-dragon">
        <div class="dragon-content">
            <h2>Download</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
    </section>


    <section class="apresentacao-section">
        <!--<div>
            <img src="/img/BardAndDragon.jpg" alt="Bard" class="bard" style="width: 50vh;">
        </div>-->
        <div>
            <h1>Teste Titulo</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p> 
            <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap </p>
            <p>into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum</p>
            <p> passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
        </div>
    </section>

  <!--<script src="/js/index.js"></script>-->
</body>
<%- include('partials/footer') %>
</html>
