<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PW Aurora - Melodia Abissal</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <%- include('partials/header') %>
  <section class="hero">
  <video autoplay muted loop playsinline class="background-video">
    <source src="/videos/perfectcg2023.webm" type="video/webm">
    Seu navegador não suporta vídeos HTML5.
  </video>

  <div class="hero-content">
    <img src="/img/logo_aurora.png" alt="(LOGO) PW Aurora - Melodia Abissal" style="width: 32vh; margin-bottom: 10px;"></br>
    <!--<h1>NOVA EXPANSÃO</h1>-->
    <a href="/download" class="btn-home-video">JOGUE AGORA</a></br>
    <h2>FALTAM <span id="countdown">30D 00:00:00</span></h2>
  </div>
</section>

  
  <section class="apresentacao-section">
    <div>
        <img src="/img/BardAndDragon.jpg" alt="Bard" class="bard" style="width: 50vh;">
    </div>
    <div>
        <h1>Teste Titulo</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p> 
        <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap </p>
        <p>into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum</p>
        <p> passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
        <div class="discord">
            <iframe src="https://discord.com/widget?id=XXXX&theme=dark" width="350" height="200" allowtransparency="true" frameborder="0"></iframe>
        </div>
    </div>
  </section>

  <section class="twitch-section">
    <!--<iframe class="twitch-iframe" src="https://player.twitch.tv/?channel=skart344&parent=localhost" allowfullscreen></iframe>
    <iframe class="twitch-iframe" src="https://player.twitch.tv/?channel=anjinhacosplay&parent=localhost" allowfullscreen></iframe>
    <iframe class="twitch-iframe" src="https://player.twitch.tv/?channel=pabll0js&parent=localhost" allowfullscreen></iframe>-->
  </section>

  <section class="footer-page-section">
    <div>
      <a href="#abrir-pesquisa-google" class="btn-footer">AJUDE-NOS A MELHORAR</a>
    </div>
  </section>

  <script src="/js/index.js"></script>
</body>
<%- include('partials/footer') %>
</html>
