<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Login - Painel do Jogador</title>
  <link rel="stylesheet" href="/css/output.css" >
  <link rel="stylesheet" href="/css/login.css" >
</head>
<body class="flex items-center justify-center h-screen">
  <img src="/img/bard.png" alt="Bard" class="bard">
  
  <div class="login-card">
    <img src="/img/logo_aurora.png" alt="Logo PW Aurora" class="logo">
    <h1 class="text-2xl font-bold mb-4 text-center mt-4 text-white">Acessar Conta</h1>
    <form action="/login" method="POST">
      <input class="input-field" type="text" name="name" placeholder="Login" required>
      <input class="input-field" type="password" name="password" placeholder="Senha" required>
      <button class="login-button" type="submit">Entrar</button>
    </form>
    
    <% if (typeof error !== 'undefined') { %>
      <p class="text-red-500 mt-2 text-center"><%= error %></p>
    <% } %>

    <p class="text-center mt-4 text-white">Não possui uma conta? <a href="/register" class="text-yellow-300 underline">Registre-se agora</a></p>
  </div>
</body>
</html>
