<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Painel Administrativo</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" >
  <link rel="stylesheet" href="/css/painel-home.css">
</head>
<body>
  
  <div class="topbar">
    <button id="toggleSidebar" class="toggle-button">☰</button>
    <div class="logo">Painel do Jogador</div>
    <div class="user-profile">
      <p><% userName %></p>
      <img src="https://i.imgur.com/5cA1RZJ.png" alt="Avatar">
    </div>
  </div>

  <div class="sidebar" id="sidebar">
    <div class="section-title">Início</div>
    <a href="#" id="linkListOfCharacters" ><i class="fas fa-home"></i><span>Meus Personagens</span></a>

    <div class="section-title">Donate</div>
    <a href="#" id="linkDonate"><i class="fas fa-donate"></i><span>Nova doação</span></a>
    <a href="#" id="linkMinhasDoacoes"><i class="fas fa-hand-holding-usd"></i><span>Minhas doações</span></a>
    <a href="#" id="linkMetasDoacao"><i class="fas fa-chart-line"></i><span>Metas de doação</span></a>


    <div class="section-title">Comércio</div>
    <a href="#"><i class="fas fa-shield-alt"></i><span>Emblema de clã</span></a>
    <!--<a href="#" id="linkListOfCharacters"><i class="fas fa-tasks"></i><span>Personagem</span></a>-->
    <a href="#"><i class="fas fa-store"></i><span>Marketplace</span></a>

    <div class="section-title">Configurações</div>
      <a href="#"><i class="fas fa-user-cog"></i><span>Minha conta</span></a>
  </div>

  <div id="overlay" class="overlay"></div>

  <div class="main" id="mainContent">
    <!-- Conteúdo inicial carregado aqui via JS -->
  </div>

  <script src="/js/painel-home.js" type="module"></script>
  <script src="/js/donate.js"></script>
  <script src="/js/list-of-characters.js"></script>

</body>
</html>
