body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #0e0e0e;
  color: #fff;
  min-width: 440px;
}

/* === HEADER FIXO === */
header {
  background-color: #1a1a1a;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* === LOGO === */
.logo img {
  height: 50px;
}

/* === BOTÃO HAMBÚRGUER === */
.menu-toggle {
  display: none;
  font-size: 26px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-right: 5vh;
  z-index: 1001;
}

/* === NAV DESKTOP === */
#mainNav ul {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
}

#mainNav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

#mainNav ul li a:hover {
  color: #07cdff;
}

/* === NAV MOBILE === */
@media screen and (max-width: 768px) {
  #mainNav ul {
    display: none;
    flex-direction: column;
    background-color: #1a1a1a;
    position: absolute;
    top: 70px;
    right: 20px;
    width: 250px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px #000;
  }
  .mobile-only {
    display: none !important;
  }
  #mainNav ul.show {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  .btn-painel {
    display: none;
  }
}

/* === BOTÕES === */
.btn-painel{
  background: linear-gradient(to right, #47c5b0, #1e85a5);
  color: #000;
  padding: 10px 20px;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.4s ease, color 0.4s ease;
}
.btn-home-video {
  display: flex;
  background: linear-gradient(to right, #47c5b0, #1e85a5);
  padding: 10px 20px;
  border: none;
  font-weight: bold;
  text-decoration: none;
  height: 30px;
  align-items: center;
  text-align: center;
  color: #ddd6d6;

  border: none;
  outline: 1px solid #ffffff; 
  outline-offset: 3px;

  transition: transform 0.2s ease-in-out;
}

.btn-home-video:hover {
  transform: scale(1.05);
}
.btn-painel:hover {
  color: #ffffff;
  background: linear-gradient(to right, #1e85a5, #47c5b0);
}

/* === HERO SECTION === */
.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.hero-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  color: #fff;
  padding-top: 40px;
}

.hero-content h1 {
  font-size: 3em;
  margin-top: -10px;
}

.hero-content h2 {
  font-size: 1.5em;
  margin-top: 0px;
  color: #ffd700;
}

/* === APRESENTAÇÃO / TWITCH / DISCORD === */
.discord {
  margin-top: 30px;
}

.twitch-section,
.apresentacao-section {
  background: #1a1a1a;
  padding: 40px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.apresentacao-section {
  justify-content: flex-start;
}

.twitch-iframe {
  width: 300px;
  height: 180px;
  border: none;
}

.apresentacao-section .bard {
  width: 500px;
  object-fit: cover;
}
