html, body {
  overflow: hidden;
  touch-action: none;
  animation: fadeIn 1s ease-in-out;
}

body {
  background: url('/img/background.png') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.98);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.bard {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 55vw;
  height: auto;
  max-height: 90vh;
  pointer-events: none;
  animation: moveBard 3s forwards;
  z-index: 0;
}

/* Animação */
@keyframes moveBard {
  0% {
    right: -45vw;
  }
  100% {
    right: 0;
  }
}

/* 🔁 Responsividade extra para telas pequenas */
@media screen and (max-width: 768px) {
  .bard {
    width: 55vw;
    max-height: 60vh;
    opacity: 0.5; /* opcional: diminui a opacidade em telas menores */
  }
}

@media screen and (max-width: 480px) {
  .bard {
    width: 0vw;
    max-height: 50vh;
    opacity: 0.3; /* ainda mais suave em telas muito pequenas */
  }
}


.logo {
  display: block;
  margin: 0 auto;
  width: 180px;
  height: auto;
}

.login-card {
  background: rgba(25, 25, 25, 0.7);
  border-radius: 18px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 2rem;
  max-width: 420px;
  width: 100%;
  position: relative;
  z-index: 10;
  overflow: hidden;
}

.login-card::before {
  content: "";
  background: url('/img/background-card-dragon.png') no-repeat center top;
  background-size: 140%;
  opacity: 0.10;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  pointer-events: none;
}

.input-field {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #1e90ff;
  border-radius: 8px;
  padding: 0.75rem;
  width: 100%;
  margin-bottom: 1rem;
  color: rgb(255, 255, 255);
  outline: none;
}


.input-field:focus {
  box-shadow: 0 0 0 2px #dab72b00;
}

.login-button {
  background: linear-gradient(135deg, #1e90ff, #3ec1d3);
  color: white;
  font-weight: bold;
  padding: 0.75rem;
  width: 100%;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.login-button:hover {
  transform: scale(1.05);
}
